fastapi==0.115.0
uvicorn[standard]==0.32.0
sqlalchemy==2.0.36
pydantic>=2.10.0
pydantic[email]>=2.10.0
python-dotenv==1.0.1
python-jose[cryptography]==3.3.0
requests==2.31.0
python-multipart==0.0.9
psycopg2-binary
